@import url(../../fonts/fonts.css);

.user-info-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.user-info-cont-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-cont div {
    font-size: 10px;
    color: grey;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-font {
    color: #8AC540;
}

.black-font {
    color: #000;
}

.user-info-cont div span {
    margin-left: 10px;
    font-weight: 1000;
    font-size: 15px;
}

.animation {
    animation-duration: 1s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

.stat {
    display: flex;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@media (max-width: 900px) {

    .stat {
        display: flex;
        flex-direction: column;
    }

    .user-info-cont{
        align-items: flex-start;
    } 

    .user-info-cont div{
        align-items: flex-start;
    }   

    .user-info-cont div span {
        margin-left: 0px;
    }
}